html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
}

.container {
  background-color: #f5f8fa;
}

.Header {
  width: 1280px;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellowgreen; */
}

.image {
  height: 8vh;
  width: 400px;
  display: flex;
  align-items: center;
  /* background-color: coral; */
}

.nav-link {
  height: 8vh;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: darkkhaki; */
}

.nav-link a {
  text-decoration: none;
  color: black;
}


a {
  height: 6vh;
  display: flex;
  align-items: center;
}


a:hover {
  border: 2px solid black;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 5px;
  cursor: pointer;
}

.header-line {
  width: 1280px;
  margin: 0 auto;
}

.information {
  margin: 0 auto;
  margin-top: 70px;
  height: 140vh;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
}

.info {
  width: 600px;
  height: 140vh;
   background-color: white;
  /* background-color: seagreen; */
}

.info-1 {
  margin: 0 auto;
  width: 530px;
    background-color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    /* background-color: cadetblue; */
}

.info-h1 {
  font-weight: 400;
  text-shadow: 1.5px 1.5px black;
}


.info-2 {
    height: 34vh;
    display: flex;
    flex-direction: column;
    width: 530px;
    margin: 0 auto;
    /* background-color: chocolate; */
}

.Index-I {
  height: 13vh;
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  /* background-color: sienna; */
}

.Index-II {
  border-radius: 50%;
  height: 4vh;
  width: 28px;
  padding: 5px;
  border: 3px solid blue;
    /* border-radius: 100px; */
}

.Index-III {
  height: 8vh;
  position: relative;
  bottom: -12px;
  /* background-color: red; */
}


.fullname {
  height: 10vh;
  display: flex;
  /* background-color: powderblue; */
}

.first-name {
  width: 50%;
}

.last-name {
  width: 50%;
} 

.E-mail {
  height: 10vh;
  display: flex;
  flex-direction: column;
  /* background-color: cornflowerblue; */
}

#Email {
  height: 5vh;
  width: 25vw;
}


#credit-info {
  height: 5vh;
  width: 35vw;
}

.index-I {
  height: 13vh;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  /* background-color: sienna; */
}

.index-II {
  border-radius: 50%;
  height: 4vh;
  width: 28px;
  padding: 5px;
  border: 3px solid blue;
   /* border-radius: 100px; */
}

.index-III {
  height: 8vh;
  position: relative;
  bottom: -12px;
  /* background-color: red; */
}

.info-3 {
    height: 24vh;
    margin: 0 auto;
    width: 530px;
    /* background-color: crimson; */
}


.CreditInfo {
  height: 10vh;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.info-4 {
  margin: 0 auto;
  width: 530px;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

button {
   background-color: #038e7d;
   height: 8vh;
   width: 36vw;
}

.wp-contact {
  display: flex;
  width: 21.2vw;
  justify-content: space-between;
  /* background-color: pink; */
}

.wp-contactI {
  position: relative;
  top: -10px;
  /* background-color: red; */
}

.wp-contactII {
  background-color: none;
}

.price {
  width: 300px;
  height: 140vh;
  background-color: #1179bf;
}

.sectionPrice-info {
  width: 250px;
   margin: 0 auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: aqua; */
}

.section1 {
  height: 33vh; 
   width: 250px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /* background-color: lime; */
  }

  .section1-h2 {
    height: 7vh;
    /* background-color: red; */
  }

  .sectionOne-h2 {
    font-weight: 500;
    color: white;
  }

  .section1-price {
    color: white;
    height: 11vh;
    width: 250px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
  }

  .span-dollar {
    font-size: 25px;
    position: relative;
    top: -6px;
  }

  .span-number {
    font-size: 50px;
    position: relative;
    right: -5px;
  }

  .span-year {
    font-size: 24px;
    position: relative;
    bottom: -6px;
    right: -5px;
  }

  .section1-h3 {
    color: white;
    height: 10vh;
    font-style: oblique;
    /* background-color: slategray; */
  }

  .section2 {
    height: 26vh;
   width: 250px;
   margin: 0 auto;
   /* background-color: purple; */
  }

  .goodwillMsg {
    display: flex;
    align-items: center;
  }

  .goodwillMsg-p {
    color: white;
    position: relative;
    right: -8px;
  }

  .section3 {
    height: 12vh;
   width: 250px;
   margin: 0 auto;
   /* background-color: crimson; */
  }

  .section3NoteP {
    color: white;
  }

  .section3NoteP2 {
    text-decoration: underline;
    color: white;
  }

  .finalHr {
    width: 250px;
    margin: 0 auto;
    margin-top: 13px;
  }

  .sectionPrice-finalNote {
    width: 250px;
     margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    /* justify-content: space-around; */
  }

  .finalNoteOne {
    color: white;
  }

  .finalNoteImg {
    display: flex;
    flex-direction: row;
  }

  .finalNoteImgP {
    color: white;
  }
  

.company-info {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 65px;
  height: 12vh;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.cpn-info {
  margin: 0 auto;
  height: 9vh;
  width: 300px;
  display: flex;
  /* background-color: chartreuse; */
}

@media (max-width: 480px) {
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
  }

  .container {
    background-color: #f5f8fa;
  }

  .Header {
    width: 90vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
  }

  .image {
    height: 12vh;
    width: 80vw; 
    /* background-color: coral; */
  }

  .nav-link {
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkkhaki; */
  }

  a {
    text-decoration: none;
    
  }

  .header-line {
    width: 100vw;
    margin: 0 auto;
  }

  .information {
    margin: 0 auto;
    margin-top: 70px;
    height: 230vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    /* background-color: teal; */
  }

  .info {
    width: 90vw;
    height: 100vh;
    /* background-color: seagreen; */
  }

  .info-h1 {
    width: 80vw;
    margin: 0 auto;
  }

  .info-1 {
    width: 90vw;
    height: 12vh;
    display: flex;
    align-items: center;
    /* background-color: cadetblue; */
}


.info-2 {
  width: 90vw;
    height: 35vh;
    /* background-color: chocolate; */
}

.Index-I {
  height: 12vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  /* background-color: sienna; */
}

.Index-II {
  border-radius: 50%;
  height: 4vh;
  width: 28px;
  padding: 5px;
  border: 3px solid blue;
  position: relative;
  top: -15px;
}

.Index-III {
  height: 9vh;
  width: 80vw;
  position: relative;
  text-align: center;
  top: -50px;
  /* background-color: red; */
}


.fullname {
  width: 80vh;
  margin: 0 auto;
  height: 15vh;
  display: flex;
  flex-direction: column;
  /* background-color: powderblue; */
}

.first-name {
  width: 75vh;
  margin: 0 auto;
}

#FirstName {
  width: 75vw;
  height: 3vh;
  padding: 4px;
}

.last-name {
  width: 75vh;
  margin: 0 auto;
} 

#LastName {
  width: 75vw;
  height: 3vh;
  padding: 4px;
}

.E-mail {
  width: 80vw;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  flex-direction: column;
  /* background-color: cornflowerblue; */
}

#Email {
  height: 3vh;
  width: 75vw;
  padding: 4px;
}

.CreditInfo {
  height: 10vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: -27px;
  /* background-color: peru; */
}

#credit-info {
  height: 3vh;
  width: 75vw;
  padding: 4px;
}



.info-3 {
  width: 90vw;
    height: 27vh;
    /* background-color: crimson; */
}

.index-I {
  height: 12vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  /* background-color: sienna; */
}

.index-II {
  border-radius: 50%;
  height: 4vh;
  width: 28px;
  padding: 5px;
  border: 3px solid blue;
  position: relative;
  top: -15px;
}

.index-III {
  height: 9vh;
  width: 75vw;
  position: relative;
  text-align: center;
  top: -50px;
  left: -35px;
  /* background-color: red; */
}

.info-4 {
  width: 90vw;
    height: 34vh;
    /* background-color: aqua; */
}

button {
  background-color: #038e7d;
  height: 6vh;
  width: 80vw;
}

.wp-contact {
 display: flex;
 width: 80vw;
 justify-content: space-between;
  /* background-color: pink; */
}

.wp-contactI {
 position: relative;
 top: -10px;
 /* background-color: red; */
}

  .price {
    width: 90vw;
    height: 110vh;
    /* background-color: sienna; */
  }

  
  .sectionPrice-info {
    width: 90vw;
  }


  .section1 {
     width: 85vw;
  }



  .section2 {
    width: 85vw;
  }

  .section3 {
    width: 85vw;
  }

  .sectionPrice-finalNote {
    width: 85vw;
     margin: 0 auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    /* justify-content: space-around; */
  }

  .finalHr {
    width: 90vw;
  }

  .company-info {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 65px;
    height: 12vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
  }

  .cpn-info {
    margin: 0 auto;
    height: 9vh;
    width: 80vw;
    /* background-color: chartreuse; */
  }

  
}
